# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build / cache
dist/
.cache/

# Cloudflare / tools
.wrangler
.vercel
